body {
  font-family: georgia;
  background: #00CC00;
  color: black;
  text-align: center;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 5px 0 5px 0;
  font-size: 12px
}

ul {
  max-width: 700px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 20px 0;
}

h5 {
  font-size: 20px;
color: red;
}

h6 {
  font-size: 15px;
}
